.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
}
.navigation-links-text:hover {
  color: var(--dl-color-scheme-pink);
}











@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.blog-post-card1-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card1-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card1-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card1-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1-text {
  color: #595959;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card1-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card1-text2 {
  color: #595959;
  font-style: italic;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}









@media(max-width: 991px) {
  .blog-post-card1-image {
    height: 350px;
  }
}

.icon-group-icon-group {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.icon-group-link {
  display: contents;
}
.icon-group-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link1 {
  display: contents;
}
.icon-group-icon02 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link2 {
  display: contents;
}
.icon-group-icon04 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link3 {
  display: contents;
}
.icon-group-icon06 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link4 {
  display: contents;
}
.icon-group-icon10 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.certificates-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certificates-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certificates-navlink {
  display: contents;
}
.certificates-image {
  width: 200px;
  height: auto;
  text-decoration: none;
}
.certificates-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.certificates-navigation-links {
  text-decoration: none;
}
.certificates-register {
  color: var(--dl-color-scheme-darkblue);
  margin-left: 41px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-white);
}
.certificates-register:hover {
  color: var(--dl-color-scheme-white);
  background-color: var(--dl-color-scheme-pink);
}
.certificates-burger-menu {
  display: none;
}
.certificates-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.certificates-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-color: #fff;
  background-image: url("public/playground_assets/blue-background-1500h.png");
}
.certificates-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.certificates-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.certificates-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificates-icon02 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
}
.certificates-register1 {
  color: var(--dl-color-scheme-darkblue);
  margin-top: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-scheme-white);
}
.certificates-register1:hover {
  color: var(--dl-color-scheme-white);
  background-color: var(--dl-color-scheme-pink);
}
.certificates-icon04 {
  fill: var(--dl-color-scheme-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.certificates-icon06 {
  fill: var(--dl-color-scheme-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.certificates-icon08 {
  fill: var(--dl-color-scheme-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.certificates-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.certificates-container02 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certificates-container03 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certificates-container04 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certificates-blog1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.certificates-container05 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certificates-container06 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certificates-container07 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certificates-blog2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.certificates-container08 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certificates-container09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certificates-container10 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certificates-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certificates-image2 {
  width: auto;
  height: 2rem;
  object-fit: cover;
}
@media(max-width: 991px) {
  .certificates-nav {
    display: none;
  }
  .certificates-burger-menu {
    display: flex;
  }
  .certificates-blog {
    flex-direction: column;
  }
  .certificates-container02 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certificates-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certificates-blog1 {
    flex-direction: column;
  }
  .certificates-container05 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certificates-container06 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certificates-blog2 {
    flex-direction: column;
  }
  .certificates-container08 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certificates-container09 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .certificates-max-width {
    padding: var(--dl-space-space-unit);
  }
  .certificates-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certificates-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certificates-blog2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certificates-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certificates-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .certificates-mobile-menu {
    padding: 16px;
  }
  .certificates-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .certificates-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .certificates-blog2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .certificates-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .certificates-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .certificates-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
