.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.certifications-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/bcvjkrtrt-1500w.jpg");
}
.certifications-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.certifications-image {
  height: 2rem;
}
.certifications-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.certifications-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.certifications-navlink {
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
}
.certifications-navlink:hover {
  font-size: 18px;
}
.certifications-navlink1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.certifications-navlink1:hover {
  font-size: 18px;
}
.certifications-navlink2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.certifications-navlink2:hover {
  font-size: 18px;
}
.certifications-link {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.certifications-link:hover {
  font-size: 18px;
}
.certifications-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.certifications-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.certifications-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.certifications-nav2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.certifications-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.certifications-container01 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certifications-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card:hover {
  transform: scale(1.02);
}
.certifications-image01 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container02 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-container03 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certifications-blog-post-card01 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card01:hover {
  transform: scale(1.02);
}
.certifications-image02 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container04 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text01 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-container05 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certifications-blog-post-card02 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card02:hover {
  transform: scale(1.02);
}
.certifications-image03 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container06 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text02 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-blog1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.certifications-container07 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certifications-blog-post-card03 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card03:hover {
  transform: scale(1.02);
}
.certifications-image04 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container08 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text03 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-container09 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certifications-blog-post-card04 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card04:hover {
  transform: scale(1.02);
}
.certifications-image05 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container10 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text04 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-container11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certifications-blog-post-card05 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card05:hover {
  transform: scale(1.02);
}
.certifications-image06 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container12 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text05 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-blog2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.certifications-container13 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certifications-blog-post-card06 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card06:hover {
  transform: scale(1.02);
}
.certifications-image07 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container14 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text06 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-container15 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certifications-blog-post-card07 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card07:hover {
  transform: scale(1.02);
}
.certifications-image08 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container16 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text07 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-container17 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certifications-blog-post-card08 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card08:hover {
  transform: scale(1.02);
}
.certifications-image09 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container18 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text08 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-blog3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.certifications-container19 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certifications-blog-post-card09 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card09:hover {
  transform: scale(1.02);
}
.certifications-image10 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container20 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text09 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-container21 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.certifications-blog-post-card10 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card10:hover {
  transform: scale(1.02);
}
.certifications-image11 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container22 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text10 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-container23 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certifications-blog-post-card11 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-blog-post-card11:hover {
  transform: scale(1.02);
}
.certifications-image12 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.certifications-container24 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-text11 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.certifications-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-700);
}
.certifications-image13 {
  height: 2rem;
  object-fit: cover;
}
.certifications-link1 {
  display: contents;
}
.certifications-icon02 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.certifications-link2 {
  display: contents;
}
.certifications-icon06 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.certifications-container25 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.certifications-link3 {
  display: contents;
}
.certifications-icon08 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .certifications-nav2 {
    padding-top: 16px;
  }
  .certifications-blog {
    flex-direction: column;
  }
  .certifications-container01 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certifications-image01 {
    height: 350px;
  }
  .certifications-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certifications-image02 {
    height: 350px;
  }
  .certifications-image03 {
    height: 350px;
  }
  .certifications-blog1 {
    flex-direction: column;
  }
  .certifications-container07 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certifications-image04 {
    height: 350px;
  }
  .certifications-container09 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certifications-image05 {
    height: 350px;
  }
  .certifications-image06 {
    height: 350px;
  }
  .certifications-blog2 {
    flex-direction: column;
  }
  .certifications-container13 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certifications-image07 {
    height: 350px;
  }
  .certifications-container15 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certifications-image08 {
    height: 350px;
  }
  .certifications-image09 {
    height: 350px;
  }
  .certifications-blog3 {
    flex-direction: column;
  }
  .certifications-container19 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certifications-image10 {
    height: 350px;
  }
  .certifications-container21 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .certifications-image11 {
    height: 350px;
  }
  .certifications-image12 {
    height: 350px;
  }
}
@media(max-width: 767px) {
  .certifications-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certifications-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .certifications-nav {
    display: none;
  }
  .certifications-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .certifications-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .certifications-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .certifications-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .certifications-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .certifications-icon {
    display: flex;
  }
  .certifications-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certifications-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certifications-blog2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certifications-blog3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certifications-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certifications-text12 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .certifications-header {
    padding: var(--dl-space-space-unit);
  }
  .certifications-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .certifications-icon {
    fill: #ffffff;
  }
  .certifications-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .certifications-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .certifications-blog2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .certifications-blog3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .certifications-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .certifications-image13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .certifications-text12 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
