.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
}
.navigation-links-text:hover {
  color: var(--dl-color-scheme-pink);
}











@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  width: 200px;
  height: auto;
  text-decoration: none;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-link {
  display: contents;
}
.navigation-navigation-links {
  text-decoration: none;
}
.navigation-register {
  color: var(--dl-color-scheme-darkblue);
  margin-left: 41px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-white);
}
.navigation-register:hover {
  color: var(--dl-color-scheme-white);
  background-color: var(--dl-color-scheme-pink);
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-color: #fff;
  background-image: url("public/playground_assets/blue-background-1500h.png");
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon02 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
}
.navigation-register1 {
  color: var(--dl-color-scheme-darkblue);
  margin-top: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-scheme-white);
}
.navigation-register1:hover {
  color: var(--dl-color-scheme-white);
  background-color: var(--dl-color-scheme-pink);
}
.navigation-icon04 {
  fill: var(--dl-color-scheme-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navigation-icon06 {
  fill: var(--dl-color-scheme-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navigation-icon08 {
  fill: var(--dl-color-scheme-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-mobile-menu {
    padding: 16px;
  }
}

.numbers-card11-numbers-card {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.numbers-card11-icon {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}
.numbers-card11-number {
  color: var(--dl-color-scheme-white);
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
}
.numbers-card11-text {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.numbers-card11-text1 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}

.feature-card211-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card211-icon {
  fill: #595959;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card211-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card211-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}






@media(max-width: 767px) {
  .feature-card211-feature-card {
    flex-direction: row;
  }
  .feature-card211-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card211-container {
    flex-direction: column;
  }
}

.testimonial-card31-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.testimonial-card31-icon {
  width: var(--dl-size-size-small);
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card31-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial-card31-text {
  color: #595959;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card31-text1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.testimonial-card31-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card31-text2 {
  font-size: 1.5rem;
  font-weight: 300;
}
.testimonial-card31-root-class-name {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.testimonial-card31-root-class-name1 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.testimonial-card31-root-class-name2 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.testimonial-card31-root-class-name3 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.testimonial-card31-root-class-name4 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
@media(max-width: 767px) {
  .testimonial-card31-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .testimonial-card31-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.feature-card1-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card1-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}






.icon-group-icon-group {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.icon-group-link {
  display: contents;
}
.icon-group-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link1 {
  display: contents;
}
.icon-group-icon02 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link2 {
  display: contents;
}
.icon-group-icon04 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link3 {
  display: contents;
}
.icon-group-icon06 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link4 {
  display: contents;
}
.icon-group-icon10 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.footer1-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer1-image {
  width: auto;
  height: 2rem;
  object-fit: cover;
}
@media(max-width: 767px) {
  .footer1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer1-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer1-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer1-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer1-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  position: relative;
  padding-top: 128px;
}
.home-max-width {
  z-index: 1;
  align-items: stretch;
}
.home-content-container {
  flex: 1;
  display: flex;
  max-width: 45%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text03 {
  color: var(--dl-color-scheme-pink);
}
.home-text04 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 42px;
}
.home-btns-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.home-primary {
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-secondary {
  text-decoration: none;
}
.home-video-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-video {
  flex: 1;
  width: 100%;
  filter: grayscale();
  max-width: 635px;
  min-height: 635px;
  object-fit: cover;
}
.home-blue-background {
  top: 0px;
  right: 0px;
  width: 47%;
  height: 100px;
  position: absolute;
  min-height: 80%;
  background-size: cover;
  background-image: url("public/playground_assets/blue-background-1500w.png");
  background-repeat: no-repeat;
}
.home-container01 {
  width: 98%;
  height: 845px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-hero1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-right: 0px;
  flex-direction: column;
}
.home-text09 {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  max-width: 450px;
}
.home-text10 {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image {
  width: 450px;
  height: 450px;
  margin: var(--dl-space-space-unit);
  padding: var(--dl-space-space-halfunit);
  align-self: stretch;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.home-sponsors {
  flex: 0 0 auto;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: rgba(144, 149, 167, 0.1);
  border-width: 0px;
  flex-direction: column;
  border-bottom-width: 1px;
}
.home-max-width1 {
  flex-direction: column;
}
.home-text20 {
  color: var(--dl-color-scheme-darkgray);
  margin: var(--dl-space-space-twounits);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.25em;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-image01 {
  width: 120px;
  height: 100%;
  margin-top: 4px;
  object-fit: cover;
}
.home-image02 {
  width: 120px;
  height: 100%;
  object-fit: cover;
}
.home-image03 {
  width: 120px;
  height: auto;
  object-fit: cover;
}
.home-image04 {
  width: 100px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-image05 {
  width: 100px;
  height: var(--dl-size-size-medium);
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-image06 {
  width: 100px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-image07 {
  width: 122px;
  margin-top: 0px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.home-max-width2 {
  flex-direction: column;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-image08 {
  width: 110px;
  height: 100%;
  margin-top: 4px;
  object-fit: cover;
}
.home-image09 {
  width: 90px;
  height: 100%;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.home-image10 {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.home-image11 {
  width: 110px;
  margin-top: 0px;
  object-fit: cover;
}
.home-image12 {
  width: 110px;
  height: auto;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-image13 {
  width: 100px;
  margin-top: 0px;
  object-fit: cover;
}
.home-image14 {
  width: 100px;
  margin-top: 0px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.home-max-width3 {
  flex-direction: column;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-image15 {
  width: 75px;
  height: auto;
  margin-top: 4px;
  object-fit: cover;
}
.home-image16 {
  width: 90px;
  height: 100%;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.home-image17 {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.home-image18 {
  width: 110px;
  margin-top: 0px;
  object-fit: cover;
}
.home-image19 {
  width: 110px;
  height: auto;
  margin-top: 0px;
  object-fit: cover;
}
.home-image20 {
  width: 100px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-image21 {
  width: 100px;
  margin-top: 0px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.home-container07 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text21 {
  width: 100%;
  font-size: 42px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}
.home-text22 {
  color: var(--dl-color-scheme-darkgray);
  width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.home-blog-post-card:hover {
  transform: scale(1.02);
}
.home-image22 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-text23 {
  color: rgb(89, 89, 89);
  font-weight: 600;
  text-transform: uppercase;
}
.home-text24 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-profile {
  display: flex;
  align-items: center;
}
.home-image23 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text25 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.home-navlink {
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.home-container11 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-location {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: row;
}
.home-image24 {
  width: 55%;
  height: 1011px;
  max-height: 950px;
  object-fit: cover;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-scheme-black);
}
.home-text26 {
  color: var(--dl-color-scheme-white);
  font-size: 56px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  margin-left: -100px;
  padding-top: 4px;
  padding-left: 18px;
  margin-bottom: 6px;
  padding-right: 11px;
  padding-bottom: 6px;
  background-color: var(--dl-color-scheme-lightblue);
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text27 {
  color: var(--dl-color-scheme-white);
  font-size: 56px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-sixunits);
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text28 {
  text-transform: capitalize;
}
.home-container13 {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text30 {
  color: var(--dl-color-scheme-pink);
  font-size: 56px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  margin-left: var(--dl-space-space-unit);
}
.home-text31 {
  color: var(--dl-color-scheme-pink);
  font-size: 56px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  margin-left: -36px;
}
.home-text32 {
  color: var(--dl-color-scheme-pink);
  font-size: 56px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  margin-left: var(--dl-space-space-fiveunits);
}
.home-container14 {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 350px;
  align-items: flex-start;
  margin-left: 124px;
  flex-direction: column;
}
.home-text33 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text34 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: none;
}
.home-btns-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.home-learn-more {
  color: var(--dl-color-scheme-white);
  transition: 0.3s;
  border-color: var(--dl-color-scheme-white);
  text-decoration: none;
}
.home-learn-more:hover {
  border-color: var(--dl-color-scheme-pink);
}
.home-numbers-banner {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/blue-background-1500w.png");
}
.home-container15 {
  flex-direction: column;
}
.home-heading-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text35 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-text36 {
  color: var(--dl-color-scheme-white);
  text-align: center;
}
.home-numbers-container {
  width: 100%;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home-numbers-card {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}
.home-number {
  color: var(--dl-color-scheme-white);
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
}
.home-text37 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-text38 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-numbers-card1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon02 {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}
.home-number1 {
  color: var(--dl-color-scheme-white);
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
}
.home-text39 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-text40 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-numbers-card2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon04 {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}
.home-number2 {
  color: var(--dl-color-scheme-white);
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
}
.home-text41 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-text42 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-numbers-card3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon06 {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}
.home-number3 {
  color: var(--dl-color-scheme-white);
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
}
.home-text45 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-text46 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-numbers-card4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon08 {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}
.home-number4 {
  color: var(--dl-color-scheme-white);
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
}
.home-text47 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-text48 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.home-workshops {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-content-container2 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(144, 149, 167, 0.08);
}
.home-container16 {
  flex: 0 0 auto;
  display: flex;
  max-width: 366px;
  align-items: flex-start;
  margin-right: 107px;
  flex-direction: column;
}
.home-text49 {
  margin-bottom: 42px;
}
.home-text52 {
  color: var(--dl-color-scheme-pink);
}
.home-text54 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text55 {
  margin-bottom: var(--dl-space-space-threeunits);
  text-transform: none;
}
.home-learn-more1 {
  text-decoration: none;
}
.home-image25 {
  flex: 1;
  width: 55%;
  min-height: 880px;
  object-fit: cover;
  object-position: bottom;
}
.home-features {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  flex-direction: column;
}
.home-text64 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container17 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-container18 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-testimonial {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text65 {
  color: var(--dl-color-scheme-black);
  font-size: 3rem;
}
.home-text66 {
  color: var(--dl-color-scheme-black);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.home-features1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  flex-direction: column;
}
.home-text67 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-self: center;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .home-max-width {
    flex-direction: column;
  }
  .home-content-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-video {
    max-width: 100%;
    min-height: 500px;
  }
  .home-blue-background {
    top: auto;
    width: 100%;
    bottom: 0px;
    min-height: 40%;
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-container02 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text09 {
    text-align: center;
  }
  .home-image {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .home-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .home-location {
    flex-direction: column;
  }
  .home-image24 {
    width: 100%;
  }
  .home-content-container1 {
    padding-top: 0px;
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-container12 {
    margin-top: -100px;
    align-items: center;
  }
  .home-container14 {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-numbers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-container16 {
    margin-right: var(--dl-space-space-unit);
  }
  .home-image25 {
    width: 50%;
    object-position: left;
  }
  .home-text65 {
    text-align: center;
  }
  .home-text66 {
    text-align: center;
  }
  .home-container19 {
    flex-direction: column;
  }
  .home-text67 {
    align-self: center;
  }
  .home-container21 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-text {
    font-size: 48px;
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-blog-post-card {
    flex-direction: column;
  }
  .home-image22 {
    width: 100%;
  }
  .home-image24 {
    max-height: 100%;
  }
  .home-content-container1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text26 {
    margin-left: -24px;
  }
  .home-btns-container1 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .home-numbers-container {
    grid-template-columns: 1fr 1fr;
  }
  .home-workshops {
    flex-direction: column-reverse;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container16 {
    max-width: 100%;
    padding-top: var(--dl-space-space-twounits);
    margin-right: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image25 {
    width: 100%;
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container17 {
    grid-template-columns: 1fr;
  }
  .home-container18 {
    grid-template-columns: 1fr;
  }
  .home-testimonial {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container02 {
    padding: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text10 {
    margin: var(--dl-space-space-unit);
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
  }
  .home-container03 {
    position: relative;
  }
  .home-image {
    top: 1px;
    left: 49px;
    width: 250px;
    height: 250px;
    margin: var(--dl-space-space-unit);
    position: absolute;
    align-self: flex-start;
  }
  .home-container04 {
    justify-content: center;
  }
  .home-container05 {
    justify-content: center;
  }
  .home-container06 {
    justify-content: center;
  }
  .home-container10 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-testimonial {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container21 {
    grid-gap: var(--dl-space-space-halfunit);
  }
}
