.feature-card1-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card1-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}













































.web-design-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.web-design-hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(102, 45, 140) 1.00%,rgb(237, 30, 121) 100.00%);
}
.web-design-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.web-design-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.web-design-logo {
  width: 64px;
}
.web-design-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.web-design-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.web-design-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.web-design-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.web-design-centered {
  width: 100%;
  height: 70px;
  display: flex;
  opacity: 0.5;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.web-design-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.web-design-navlink {
  display: contents;
}
.web-design-logo1 {
  width: 200px;
  height: auto;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.web-design-logo1:hover {
  width: 210px;
}
.web-design-links1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
  justify-content: center;
}
.web-design-link {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  text-decoration: none;
}
.web-design-link:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.web-design-link01 {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  text-decoration: none;
}
.web-design-link01:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.web-design-link02 {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  text-decoration: none;
}
.web-design-link02:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.web-design-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.web-design-link03 {
  display: contents;
}
.web-design-get-started {
  cursor: pointer;
  display: flex;
  z-index: 100;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #662d8c;
}
.web-design-get-started:hover {
  background-color: #5228F5;
}
.web-design-text03 {
  color: rgb(255, 255, 255);
  z-index: 101;
  font-style: normal;
  font-weight: 600;
}
.web-design-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.web-design-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.web-design-container2 {
  display: contents;
}
.web-design-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.web-design-text04 {
  color: rgb(255, 255, 255);
  margin: var(--dl-space-space-unit);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 80px;
}
.web-design-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.web-design-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.web-design-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.web-design-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.web-design-text09 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-text10 {
  margin-right: var(--dl-space-space-threeunits);
}
.web-design-link04 {
  text-decoration: underline;
}
.web-design-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.web-design-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.web-design-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.web-design-text12 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-text15 {
  margin-right: var(--dl-space-space-threeunits);
}
.web-design-link05 {
  text-decoration: underline;
}
.web-design-image1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.web-design-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.web-design-container6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.web-design-text18 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-text21 {
  margin-right: var(--dl-space-space-threeunits);
}
.web-design-link06 {
  text-decoration: underline;
}
.web-design-image2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.web-design-banner3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.web-design-container7 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.web-design-text25 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-text28 {
  margin-right: var(--dl-space-space-threeunits);
}
.web-design-link07 {
  text-decoration: underline;
}
.web-design-image3 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.web-design-banner4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.web-design-container8 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.web-design-text31 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-text34 {
  margin-right: var(--dl-space-space-threeunits);
}
.web-design-image4 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.web-design-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.web-design-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.web-design-left1 {
  width: 33%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.web-design-text37 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.web-design-subscription {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: #ffffff;
}
.web-design-textinput {
  width: 60%;
  outline: none;
  font-size: 14px;
  border-width: 0px;
}
.web-design-subscribe {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: #5228F5;
}
.web-design-subscribe:hover {
  background-color: #000;
}
.web-design-text38 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.web-design-text39 {
  color: rgb(104, 104, 104);
  font-size: 14px;
}
.web-design-contact {
  display: flex;
  margin-top: 52px;
  align-items: flex-start;
  flex-direction: column;
}
.web-design-text40 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-link08 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: underline;
}
.web-design-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.web-design-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.web-design-text41 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.web-design-link09 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}
.web-design-link10 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-link11 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-link12 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-link13 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.web-design-text42 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.web-design-navlink1 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-navlink2 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-navlink3 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-navlink4 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-navlink5 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.web-design-text43 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-links4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.web-design-text44 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.web-design-link14 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-link15 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-link16 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-link17 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.web-design-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.web-design-branding {
  width: var(--dl-size-size-large);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  margin-bottom: var(--dl-space-space-unit);
}
.web-design-text45 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 991px) {
  .web-design-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .web-design-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .web-design-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .web-design-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--dl-color-gray-500);
  }
  .web-design-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .web-design-logo1 {
    width: 64px;
  }
  .web-design-links1 {
    display: none;
  }
  .web-design-get-started {
    display: none;
  }
  .web-design-mobile-menu-button {
    display: flex;
  }
  .web-design-header {
    width: 100%;
    max-width: 1200px;
  }
  .web-design-container3 {
    grid-template-columns: 1fr 1fr;
  }
  .web-design-banner {
    flex-direction: column;
  }
  .web-design-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .web-design-text10 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-image {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .web-design-banner1 {
    flex-direction: column;
  }
  .web-design-container5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .web-design-text15 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-image1 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .web-design-banner2 {
    flex-direction: column;
  }
  .web-design-container6 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .web-design-text21 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-text22 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-link06 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-text23 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-image2 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .web-design-banner3 {
    flex-direction: column;
  }
  .web-design-container7 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .web-design-text28 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-text29 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-link07 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-image3 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .web-design-banner4 {
    flex-direction: column;
  }
  .web-design-container8 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .web-design-text34 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-text35 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .web-design-image4 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .web-design-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .web-design-top {
    flex-direction: column;
  }
  .web-design-left1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .web-design-text39 {
    color: rgb(104, 104, 104);
    font-size: 14px;
  }
  .web-design-text40 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .web-design-link08 {
    text-decoration: underline none;
  }
  .web-design-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .web-design-links2 {
    gap: var(--dl-space-space-unit);
  }
  .web-design-links3 {
    gap: var(--dl-space-space-unit);
  }
  .web-design-links4 {
    gap: var(--dl-space-space-unit);
  }
  .web-design-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .web-design-text45 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .web-design-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .web-design-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .web-design-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .web-design-left {
    margin-left: var(--dl-space-space-unit);
  }
  .web-design-right {
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-get-started {
    display: none;
  }
  .web-design-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .web-design-text04 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .web-design-text05 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .web-design-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .web-design-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .web-design-text10 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .web-design-text15 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .web-design-text21 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-text22 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-link06 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-text23 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-banner3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .web-design-text28 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-text29 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-link07 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-banner4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .web-design-text34 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-text35 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .web-design-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .web-design-hero {
    padding-bottom: 160px;
  }
  .web-design-logo {
    margin-left: 0px;
  }
  .web-design-icon {
    align-items: center;
    justify-content: center;
  }
  .web-design-logo1 {
    width: var(--dl-size-size-large);
    z-index: 1000;
  }
  .web-design-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .web-design-container3 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .web-design-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .web-design-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .web-design-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .web-design-image1 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .web-design-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .web-design-image2 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .web-design-banner3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .web-design-image3 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .web-design-banner4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .web-design-image4 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .web-design-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .web-design-subscription {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .web-design-link17 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
}
