<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1547841243-eacb14453cd9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxjaXR5fGVufDB8fHx8MTYyNjE4NjYxMg&ixlib=rb-1.2.1&w=1000"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <span class="blog-post-card1-text"><span>ENTERPRISE</span></span>
      <span class="blog-post-card1-text1">
        <span>Lorem ipsum dolor sit amet</span>
      </span>
      <span class="blog-post-card1-text2"><span>ENTERPRISE</span></span>
    </div>
  </div>
</div>
