<div>
  <link href="./event-card1.css" rel="stylesheet" />
  <div class="event-card1-event-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwfHxwZW9wbGV8ZW58MHx8fHwxNjQzNzA1NTEx&ixlib=rb-1.2.1&w=200"
      class="event-card1-image"
    />
    <div class="event-card1-vertical-line"></div>
    <div class="event-card1-container">
      <span class="event-card1-title">
        <span>Inbound Marketing Secrets</span>
      </span>
      <span><span>Text</span></span>
      <span class="event-card1-text1">
        <span>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </span>
      </span>
    </div>
  </div>
</div>
