.icon-group-icon-group {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.icon-group-link {
  display: contents;
}
.icon-group-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link1 {
  display: contents;
}
.icon-group-icon02 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link2 {
  display: contents;
}
.icon-group-icon04 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link3 {
  display: contents;
}
.icon-group-icon06 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.icon-group-link4 {
  display: contents;
}
.icon-group-icon10 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.footer1-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer1-image {
  width: auto;
  height: 2rem;
  object-fit: cover;
}
@media(max-width: 767px) {
  .footer1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer1-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer1-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer1-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer1-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
