.numbers-card-numbers-card {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.numbers-card-icon {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}
.numbers-card-number {
  color: var(--dl-color-scheme-white);
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
}
.numbers-card-text {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
.numbers-card-text1 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
}
