<div>
  <link href="./numbers-card.css" rel="stylesheet" />
  <div class="numbers-card-numbers-card">
    <svg viewBox="0 0 1024 1024" class="numbers-card-icon">
      <path
        d="M0 64v640h1024v-640h-1024zM960 640h-896v-512h896v512zM672 768h-320l-32 128-64 64h512l-64-64z"
      ></path>
    </svg>
    <span class="numbers-card-number"><span>4+</span></span>
    <span class="numbers-card-text"><span>years coding</span></span>
    <span class="numbers-card-text1"><span>Experience</span></span>
  </div>
</div>
